<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>TRAIN ME</string>
	<key>CFBundleIdentifier</key>
	<string>com.silva.trainme</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3</string>
	<key>CFBundleVersion</key>
	<string>1.3</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Required Location. It will help us to locate nearby people.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Required Location. It will help us to locate nearby people.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Gallery access required to upload profile picture.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Gallery access required to upload profile picture.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Required Location. It will help us to locate nearby people.</string>
	<key>XSLaunchImageAssets</key>
	<string>Assets.xcassets/LaunchImage.launchimage</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb346722962815727</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>346722962815727</string>
	<key>FacebookDisplayName</key>
	<string>Train Me</string>
	<key>CFBundleName</key>
	<string>TRAIN ME</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Calender permission required to display booking details.</string>
</dict>
</plist>
